/* Styles for the EditJournal view React component */
.input{
    margin-top: 30px;
}

#briefInfo{
    width: 600px;
    height: 80px;
}

#details{
    width: 600px;
    height: 200px;
}

.editJournalButtons{
    justify-content: center;
    display: flex;
    margin-left: 350px;
    margin-bottom: 50px;
}

.editJournal_postButton .MuiButton-label {
    font-size: 25px;
    color: #424242;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}

.editJournal_deleteButton .MuiButton-label {
    font-size: 25px;
    color: #424242;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}