/* Styles for the Input React component */
.input-form {
  width: 280px;
}

.input-form .MuiInput-underline:after {
  border-color: darkslategray;
}

.input-form .MuiFormLabel-root,
.input-form .MuiFormLabel-root.Mui-focused {
  color: darkslategray;
}
